@model IEnumerable<BookCategory>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>
<div><a asp-controller="Category" asp-action="Create" class="btn btn-primary">
    Create New Category
</a></div>
<br />
<br />
<table>
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>

